@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

:root {
  --bg-dark: #082304cb;
  --bg-light: #c3c3c3;
  --header-text: rgb(203, 203, 203);
  --tag-bg: #af7623;
  --secondary-bg: #174d0e;
}

body {
  font-family:  'Mulish', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #555755cb;
}

.site-wrapper {
  display: flex;
}

.left {
  position: relative;
  background: url(./img/drive.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-width: 300px;
  height: 98vh;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.right {
  background-color: var(--secondary-bg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  min-width: 300px;
  height: 98vh;
  flex-direction: column;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 5%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 33vh;
  background-color: var(--bg-dark);
  gap: 5px;
}

.odin {
  padding: 10px;
  vertical-align: middle;
  align-items: center;
  width: 115px;
  height: auto;
  margin-right: 15px;
}

.tag {
  text-transform: uppercase;
  justify-self: center;
  align-items: center;
  color: white;
  font-size: 48px;
}

.header {
  border-top-right-radius: 5px;
  background-color: var(--secondary-bg);
  color: var(--header-text);
  height: 33vh;

}

p {
  font-size: 18px;
}

.form {
  background-color: var(--tag-bg);
  color: white;
  height: 33vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-text {
  justify-content: center;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  gap: 2rem;
  font-size: 1rem;
}

.text-wrap {
  justify-content: center;
  padding: 20px;
  padding-bottom: 0px;
  margin: 20px;
}

label {
  text-transform: uppercase;
  width: 15rem;
  margin-bottom: 15px;
}

input {
  border: 2px solid white;
  border-radius: 5px;
  transition: all .3s;
}

input:focus {
  border: 2px solid var(--secondary-bg)
}

.signup {
  height: 33vh;
  width: 100%;
  background-color: var(--secondary-bg);
}

.signup-text {
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.login  {
  color: white;
  font-size: 18px;
  border-bottom-right-radius: 5px;
}

a {
  color: var(--tag-bg);
  text-decoration: none;
  transition: all .1s;
}

a:hover {
  text-decoration: underline;
}

a:active {
  font-size: 17px;
}

.wave {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 49px;
}

.wave .shape-fill {
  fill: var(--secondary-bg);
}

.wave2
{
  width: 100%;
}

.wave2
 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 106px;
}

.wave2
 .shape-fill {
  fill: var(--tag-bg);
}

button {
  border: 1px solid var(--tag-bg);
  background-color: var(--secondary-bg);
  color: var(--tag-bg);
  transition: all .2s;
  padding: 10px;
}

button:hover {
  background-color: var(--tag-bg);
  color: white;
  cursor: pointer;
}

button:active {
  background-color: #7d5417;
}